# Python artifacts
*.pyc
.python-version

# Virtual environment
venv/

# OS X artifacts
.DS_Store

# Data that shouldn't be tracked
anon_data
data/*.json

# Text editing
.*.swp
.*.swo

# Compiled static files
static/react/node_modules
static/react/dist
static/react/dist/*.hot-update.*

# Databases and backups
*.db
*.db.bak
