{% macro line_number(i) %}
    <td class="line-number" data-line-number="{{ '' if i is none else i }}"></td>
{% endmacro %}

<table>
    <tbody>
        {% for line in diff_lines %}
        <tr class="fixed-width-font highlight-{{ line.tag }}" data-line={{ line.line_after }}>
          {% if line.is_diff %}
            {{ line_number(line.line_before) }}
          {% endif %}
          {{ line_number(line.line_after) }}
          <td>
            <span class="highlight-source">{{ line.contents | escape}}</span>
          </td>
        </tr>
        {% if line.comments %}
          <tr data-line={{ line.line_after }}>
            <td class="comment-container" colspan=3>
              {% for comment in line.comments %}
                {{ render_comment(comment) }}
              {% endfor %}
            </td>
          </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
