{% extends "show_editors.html" %}
{% block clusters %}
<div id='submissions_column' class="col-md-2">

  {% macro make_submission(question_number, i, annotate=True) %}
    <a href="/{{ question_number }}/{{ i }}" class="{{ 'selected-cluster' if i == submission_id }}">
      <li class="list-group-item submission{% if annotate and i in grade_status %} {{ grade_status[i] }}{% endif %}" data-submission-id={{ i }}>
        Submission {{ i }}
        {% if annotate and i in graded_submission_ids %}
        <img class='inline' src='/static/img/check.svg' />
        {% elif annotate and i in perfect_test_submission_ids %}
        <img class='inline' src='/static/img/star.svg' />
        {% elif annotate and i in fixed_submission_ids and session.fixes_enabled %}
        <img class='inline' src='/static/img/lightbulb.svg' />
        {% endif %}
      </li>
    </a>
    <td class="line-number" data-line-number="{{ '' if i is none else i }}"></td>
  {% endmacro %}

  <h2 class='submission_header'>Submissions</h2>

  <div id='symbol_legend'>
    <p>
      <img class='inline' src='/static/img/check.svg' />
      = feedback given<br/>
      {% if show_perfect_test_submissions %}
      <img class='inline' src='/static/img/star.svg' />
      = passed all test cases<br/>
      {% endif %}
      {% if session.fixes_enabled %}
      <img class='inline' src='/static/img/lightbulb.svg' />
      = fix suggested
      {% endif %}
    </p>
  </div>

  <div id="submission_list" class='submission_list'>
    <ul class="list-group submission_order submission_ordering">
      {% for i in submission_ids %}
        {{ make_submission(question_number, i) }}
      {% endfor %}
    </ul>
    <ul class="simple_list test_case_order submission_ordering" style='display: none;'>
      {% for test_case_group in test_case_groups %}
      <li>
        <ul class="list-group">
          {% for i in test_case_group %}
            {{ make_submission(question_number, i) }}
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
    {% if session.fixes_enabled %}
    <ul class="simple_list fix_order submission_ordering" style='display: none;'>
      {% for fix_group in fix_groups %}
      <li>
        <ul class="list-group">
          {% for i in fix_group %}
            {{ make_submission(question_number, i) }}
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  <form id="order_form" class="ui form">
    <label>Order by:</label>
    <div class="order field">
      <div class="ui radio checkbox">
        <input name="sort_order" data-mode="submission_id" type="radio" {% if sort_mode == 'submission_id' %}checked{% endif %}>
        <label>Submission IDs</label>
      </div>
    </div>
    <div class="order field">
      <div class="ui radio checkbox">
        <input name="sort_order" data-mode="test_case" type="radio" {% if sort_mode == 'test_case' %}checked{% endif %}>
        <label>Test case results</label>
      </div>
    </div>
    {% if session.fixes_enabled %}
    <div class="order field">
      <div class="ui radio checkbox">
        <input name="sort_order" data-mode="fix" type="radio" {% if sort_mode == 'fix' %}checked{% endif %}>
        <label>Suggested fixes</label>
      </div>
    </div>
    {% endif %}
  </form>

  {% if session.fixes_enabled %}
  <h2 class='submission_header'>Suggested fixes</h2>
  <div id="fix_list" class='submission_list'>
    <ul id='synthesis_list' class="list-group">
      {% for i in fixed_submissions %}
        {{ make_submission(question_number, i, False) }}
      {% endfor %}
    </ul>
  </div>
  {% endif %}

</div>
<script>
$(function() {

    // Scroll the list to the selected element
    // REUSE: Based on tip at
    // http://stackoverflow.com/questions/2905867/how-to-scroll-to-specific-item-using-jquery
    function scrollList(list, sublist_selector) {
        var selector = 'a.selected-cluster';
        if (sublist_selector !== undefined) {
            selector = sublist_selector + ' ' + selector;
        }
        var selected = list.find(selector);
        if (selected.length > 0) {
            list.scrollTop(
                selected.offset().top - list.offset().top + list.scrollTop()
            );
        }
    }

    function showList(listName) {
        $('.submission_ordering').css('display', 'none');
        if (listName === "submission_id") {
            $('ul.submission_order').css('display', 'block');
            scrollList($('div#submission_list'), 'ul.submission_order');
        } else if (listName === "test_case") {
            $('ul.test_case_order').css('display', 'block');
            scrollList($('div#submission_list'), 'ul.test_case_order');
        } else if (listName === "fix") {
            $('ul.fix_order').css('display', 'block');
            scrollList($('div#submission_list'), 'ul.fix_order');
        }
    }

    $('#order_form .checkbox').checkbox({
        onChecked: function() {
            var order = $(this).data('mode');
            showList(order);
            $.post('/set_sort_mode', {
                sort_mode: order,
            });
        }
    });

    // Make sure to preserve the option that the user chose last time.
    // This should re-load the list to what it was on the last page.
    showList($('#order_form input[name=sort_order]:checked').data('mode'));

    scrollList($('div#submission_list'));
    scrollList($('div#synthesis_list'));

});
</script>
{% endblock %}
