{% extends "show_fixes.html" %}
{% block clusters %}
<div class="col-md-3">

  <div style="margin-top: 5px;">
    <b>You gave hints for {{ finished_count }} / {{ total_count }} bugs</b>
    <div class="progress" style="margin-top: 10px;">
      <div class="progress-bar" style="width: {{
        (finished_count / total_count * 100) | round | int
      }}%;">
      {{
        (finished_count / total_count * 100) | round | int
      }} %
      </div>
    </div>
  </div>

  <div class="ui form" style="margin-bottom: 10px">
    <div class="inline field">
      <div id="filter-checkbox" class="ui toggle checkbox">
        {% if current_filter == 'True' %}
          <input type="checkbox" tabindex="0" class="hidden" data-href="/{{question_number}}/{{tab_id}}/{{cluster_id}}" checked>
          <label>Filter: ON (Hide finished)</label>
          <style>
            .finished-cluster { display: none; }
          </style>
        {% else %}
          <input type="checkbox" tabindex="0" class="hidden" data-href="/{{question_number}}/{{tab_id}}/{{cluster_id}}?filter=True">
          <label>Filter: OFF (Show finished)</label>
        {% endif %}
      </div>
    </div>
  </div>

  Total number of clusters: {{ clusters | length - finished_cluster_ids | length }} / {{ clusters | length }}
  <ul class="list-group" style="margin-top: 10px">
    {% for i in range(clusters|length) %}
      <a href="/{{question_number}}/0/{{i}}?filter={{current_filter}}" class="{{ 'finished-cluster' if i in finished_cluster_ids }} {{ 'selected-cluster' if i == cluster_id }}">
        <li class="list-group-item">
          <span class="badge ui label label-size-{{ (clusters[i].size/10) | round | int if i not in finished_cluster_ids }}">
            {{ clusters[i].size }}
            {% if i in finished_cluster_ids %}
              <i class="fa fa-check fa-fw"></i>
            {% endif %}
          </span>

          <b>Cluster {{i}}</b>

          <!-- Rule-based Tab -->
          {% if tab_id == 0 %}
            {% for line in clusters[i].fixes[0].diff_lines %}
              {% if line.tag == "insert" %}
                <div class="highlight-source code">{{ line.contents | escape | truncate(45, True)}}</div>
              {% elif line.tag == "delete" %}
                <div class="highlight-source code">{{ line.contents | escape | truncate(45, True)}}</div>
              {% elif line.tag == "replace" %}
                <div class="highlight-source code">{{ line.contents | escape | truncate(45, True)}}</div>
              {% endif %}
            {% endfor %}

            <script>
              $("#rule-based-tab").addClass("active");
            </script>
          {% endif %}

          <!-- Test-based Tab -->
          {% if tab_id == 1 %}
            <span>test case</span>
            <span class="code">{{clusters[i].test[0]['input']}}</span>
            <br>
            <span>returned</span>
            <span class="code">{{clusters[i].test[0]['output']}}</span>
            <br>
            <span>instead of</span>
            <span class="code">{{clusters[i].test[0]['expected']}}</span>

            <script>
              $("#test-based-tab").addClass("active");
            </script>
          {% endif %}

          <!-- TestxRule-based Tab -->
          {% if tab_id == 2 %}
            <div style="border : 1px dotted; margin-top : 2px; padding: 2px; border-radius: 5px;">
            {% for line in clusters[i].fixes[0].diff_lines %}
              {% if line.tag == "insert" %}
                <div class="highlight-source code">{{ line.contents | escape | truncate(45, True)}}</div>
              {% elif line.tag == "delete" %}
                <div class="highlight-source code">{{ line.contents | escape | truncate(45, True)}}</div>
              {% elif line.tag == "replace" %}
                <div class="highlight-source code">{{ line.contents | escape | truncate(45, True)}}</div>
              {% endif %}
            {% endfor %}
            </div>
            <div style="border : 1px dotted; margin-top : 2px; padding: 2px; border-radius: 5px;">
              <span>test case</span>
              <span class="code">{{clusters[i].test[0]['input']}}</span>
              <br>
              <span>returned</span>
              <span class="code">{{clusters[i].test[0]['output']}}</span>
              <br>
              <span>instead of</span>
              <span class="code">{{clusters[i].test[0]['expected']}}</span>
            </div>

            <script>
              $("#rulextest-based-tab").addClass("active");
            </script>
          {% endif %}
        </li></a>
    {% endfor %}
  </ul>

</div>
{% endblock %}
