<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>UIPrototype</title>

    <link href="/static/css/helper.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/highlight.css" rel="stylesheet">
    <link href="/static/css/code.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/lib/swal/sweetalert.min.css" rel="stylesheet">
    <link href="/static/css/swal-theme.css" rel="stylesheet">
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  </head>

  {% macro line_number(i) %}
    <td class="line-number" data-line-number="{{ '' if i is none else i }}"></td>
  {% endmacro %}

  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">OverHint</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li>
              <a><div class="progress" id="hintprogressbar">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{ coverage_percentage }}"
    aria-valuemin="0" aria-valuemax="100" style="width:{{ coverage_percentage }}%">
      {{ coverage_percentage }}%
                </div>
              </div></a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container-fluid">

      <div class="container">
        {% block tabs %}
        <ul class="nav nav-tabs">
          <li class="active"><a href="/{{question_number}}/0/0">Rule</a></li>
          <li><a href="/{{question_number}}/1/0">Test</a></li>
          <li><a href="/{{question_number}}/2/0">Rule x Test</a></li>
        </ul>
        {% endblock %}
        <!-- <br> -->
      </div>
      {% block fixes %}{% endblock %}
    </div>

    <script>
    function changeRule(newRule) {
      console.log('typeof(newRule)',typeof(newRule));
      document.getElementById("demo").innerHTML = newRule;
    }
    </script>
    <script>
    $(document).ready(function(){
        $(".nav-tabs a").click(function(){
            $(this).tab('show');
        });
    });
    </script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/lib/jquery/jquery.min.js"></script>
    <script src="/static/lib/swal/sweetalert.min.js"></script>
    <script src="/static/lib/markdown/markdown.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
