<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>UIPrototype</title>

    <link href="/static/css/helper.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/highlight.css" rel="stylesheet">
    <link href="/static/css/code.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/lib/swal/sweetalert.min.css" rel="stylesheet">
    <link href="/static/css/swal-theme.css" rel="stylesheet">
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  </head>

  {% macro line_number(i) %}
    <td class="line-number" data-line-number="{{ '' if i is none else i }}"></td>
  {% endmacro %}

  <body>

    {% block navbar %}{% endblock %}
    
    <div class="container-fluid">
      <!-- <div class="container"> -->
        {% block tabs %}
        <ul class="nav nav-tabs">
          <li id="rule-based-tab"><a href="/{{question_number}}/0/0">Rule</a></li>
          <li id="test-based-tab"><a href="/{{question_number}}/1/0">Test</a></li>
          <li id="rulextest-based-tab"><a href="/{{question_number}}/2/0">Rule x Test</a></li>
        </ul>
        {% endblock %}
      <!-- </div> -->
      {% block fixes %}{% endblock %}
    </div>

    <script>
    function changeRule(newRule) {
      console.log('typeof(newRule)',typeof(newRule));
      document.getElementById("demo").innerHTML = newRule;
    }
    </script>
    <script>
    $(document).ready(function(){
        $(".nav-tabs a").click(function(){
            $(this).tab('show');
        });
    });
    {% block script %}{% endblock %}
    </script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/lib/jquery/jquery.min.js"></script>
    <script src="/static/lib/swal/sweetalert.min.js"></script>
    <script src="/static/lib/markdown/markdown.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
