{% extends "layout.html" %}

{% block fixes %}
<div class="row">
  {% block clusters %}{% endblock %}
  <div class="col-md-6">
    <div style="overflow-y: scroll; height: 2400px;">
      {% for item in clusters[cluster_id].fixes %}
          <textarea data-index={{ loop.index }} class='solution_editor' id={{item.Id}}>{{item.before}}</textarea>
          <input data-index={{ loop.index }} class="ui primary button submitCode" type="submit" value="Save and Test">
          <table data-index={{ loop.index }} class="table">
          {% for key, value in item.input_output_before.items() %}
              <tr>
                  <td>
                  {% if not key.startswith('print ') %}
                      {{key}}
                  {% else %}
                      {{key.lstrip('print ')}}
                  {% endif %}
                  </td>
                  <td>&rarr;</td>
                  <td>{{value}}</td>
               </tr>
          {% endfor %}
          </table>
      {% endfor %}
    </div>
    
  </div>
  <div class="col-md-3">
    <h3>Instructions for Students</h3>
    <div>{{question_instructions|safe}}</div>
    <h3>Hints</h3>

    <div class="hint">
      {% if hint == None %}
        <i>No hint</i>
        <br>
        <form id="add-hint" class="ui form" action="{{ url_for('add_hint') }}" method="POST">
          <div class="field">
            <textarea name="text" rows=8 cols=40></textarea>
            <input type="hidden" name="cluster_id" value={{cluster_id}}>
            <input type="hidden" name="tab_id" value={{tab_id}}>
            <input type="hidden" name="question_number" value={{question_number}}>
            <input type="hidden" name="filter" value={{current_filter}}>
          </div>
          <div class="field">
            <input class="ui primary button" type="submit" value="Add">
            <a href="#" id="reuse-hints-button">Reuse previous hints</a>
          </div>
          <div id="previous-hints" class="field" style="display: none">
            <label>
              Reuse Previous hints
              <a href="#" id="hide-reuse-hints-button">Hide</a>
            </label>
            {% for previous_hint in previous_hints %}
            <div class="field previous-hint">
              <div id="reuse-checkbox" class="ui radio checkbox">
                <input type="radio" name="fruit" tabindex="0" class="hidden" data-text="{{ previous_hint.text }}">
                <label>{{ previous_hint.text }}</label>
              </div>
            </div>
            {% endfor %}
          </div>
        </form>


      {% else %}
        <div id="show-hint">
        {{hint.text }}
        <br>
        <a href="#" id="edit-hint-button">Edit</a>
        </div>
        <div id="edit-hint" style="display:none;">
          <form class="ui form" action="{{ url_for('update_hint') }}" method="POST">
            <div class="field">
              <textarea name="text" rows=3 cols=40>{{hint.text}}</textarea>
              <input type="hidden" name="cluster_id" value={{cluster_id}}>
              <input type="hidden" name="tab_id" value={{tab_id}}>
              <input type="hidden" name="question_number" value={{question_number}}>
              <input type="hidden" name="filter" value={{current_filter}}>
            </div>
            <input class="ui primary button" type="submit" value="Add">
            <button id="cancel-hint-button" class="ui button">Cancel</button>
          </form>
        </div>
      {% endif %}
    </div>

  </div>
</div>

<script>
$(function() {

    var editor_panes = $(".solution_editor");
    var editors = [];

    editor_panes.each(function () {
        var editorIndex = $(this).data('index');
        var newEditor = CodeMirror.fromTextArea($(this)[0], {
            lineNumbers: true,
            mode: 'python',
            viewportMargin: Infinity,
            lineWrapping: true
        });
        editors[editorIndex] = [newEditor,$(this).attr('id')];
        //console.log('editors',editors)
    });

    $('.submitCode').click(function() {

        var editorIndex = $(this).data('index');
        //var editor, sol_id
        var editor = editors[editorIndex][0];
        var sol_id = editors[editorIndex][1];
        console.log('id',editor,editorIndex,sol_id)

        //console.log(this, $(this), $(this).data('before-code'))

        $.post('/evaluate', {
            code: editor.getValue(),
            before_id: sol_id,
            question_number: {{question_number}}
        }, function(results) {
            console.log(results)
            results.test_cases.forEach(function(result, index) {
                var successClass = result['success'] ? 'test_success' : 'test_failure';
                $('table[data-index=' + editorIndex +'] ' + 
                  'tr:nth-of-type(' + (index + 1) + ') td'
                 ).addClass(successClass);
            });
        });

    });
});
</script>
{% endblock %}

