{% extends "show_fixes.html" %}
{% block clusters %}
<div class="col-md-3">

  <div class="progress" style="margin-top: 10px;">
    <div class="progress-bar" style="width: {{ (fixes|selectattr('tab_id', 'equalto', 0)|list|length / clusters|length * 100) | round | int
    }}%;">
    {{ (fixes|selectattr('tab_id', 'equalto', 0)|list|length / clusters|length * 100) | round | int }} %
    </div>
  </div>

  <ul class="list-group">
    {% for i in range(clusters|length) %}
      <a href="/{{question_number}}/0/{{i}}">
      {% if cluster_id == i %}
        <li class="list-group-item list-group-item-info">
      {% else %}
        <li class="list-group-item">
      {% endif %}

        <span class="badge ui label label-size-{{ (clusters[i].size/10) | round | int }}">{{ clusters[i].size }}</span>
        <span class="notabadge">{% if (fixes|selectattr("cluster_id", "equalto", i)|list|length) != 0 %} &#9989; {% else %} &#10008; {% endif %}</span>

        <b>Cluster {{i}}</b>
        {% for line in clusters[i].fixes[0].diff_lines %}
          {% if line.tag == "insert" %}
            <div class="highlight-source code">{{ line.contents | escape | truncate(45, True)}}</div>
          {% elif line.tag == "delete" %}
            <div class="highlight-source code">{{ line.contents | escape | truncate(45, True)}}</div>
          {% elif line.tag == "replace" %}
            <div class="highlight-source code">{{ line.contents | escape | truncate(45, True)}}</div>
          {% endif %}
        {% endfor %}
      </li></a>
    {% endfor %}
  </ul>
</div>
{% endblock %}

{% block script %}
$("#rule-based-tab").addClass("active")
{% endblock %}