{% extends "layout.html" %}

{% block navbar %}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">OverHint</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <a>
            <div class="progress" id="hintprogressbar">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{ coverage_percentage }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ coverage_percentage }}%">
                {{ coverage_percentage }}%
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
{% endblock %}

{% block fixes %}
<div class="row">
  {% block clusters %}{% endblock %}
  <div class="col-md-6">
    <div style="overflow-y: scroll; height: 1000px;">
      {% for item in clusters[cluster_id].fixes %}
         <div class="source-file table-responsive"
            data-filename='example'>
            <table class="highlight">
              <tbody>
                {% for line in item.diff_lines %}
                  <tr class="fixed-width-font highlight-{{ line.tag }}" data-line={{ line.line_after }}>
                    {% if line.is_diff %}
                      {{ line_number(line.line_before) }}
                    {% endif %}
                    {{ line_number(line.line_after) }}
                    <td>
                      <span class="highlight-source">{{ line.contents | escape}}</span>
                    </td>
                  </tr>
                  {% if line.comments %}
                    <tr data-line={{ line.line_after }}>
                      <td class="comment-container" colspan=3>
                        {% for comment in line.comments %}
                          {{ render_comment(comment) }}
                        {% endfor %}
                      </td>
                    </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}