{% extends "show_fixes.html" %}
{% block clusters %}
<div class="col-md-3">
  <ul class="list-group">
    {% for i in range(clusters|length) %}
      <a href="/{{question_number}}/0/{{i}}">
      {% if cluster_id == i %}
        <li class="list-group-item list-group-item-info">
      {% else %}
        <li class="list-group-item">
      {% endif %}

        <span class="badge ui label label-size-{{ math.floor(clusters[i].size/10) }}">{{ clusters[i].size }}</span>
        <span class="notabadge">{% if (entries|selectattr("cluster_id", "equalto", i)|list|length) != 0 %} &#9989; {% else %} &#10008; {% endif %}</span>

        <b>Cluster {{i}}</b>
        {% for line in clusters[i].fixes[0].diff_lines %}
          {% if line.tag == "insert" %}
            <div class="highlight-source code">{{ line.contents | escape | truncate(45, True)}}</div>
          {% elif line.tag == "delete" %}
            <div class="highlight-source code">{{ line.contents | escape | truncate(45, True)}}</div>
          {% elif line.tag == "replace" %}
            <div class="highlight-source code">{{ line.contents | escape | truncate(45, True)}}</div>
          {% endif %}
        {% endfor %}
      </li></a>
    {% endfor %}
  </ul>
</div>
{% endblock %}

{% block script %}
$("#rule-based-tab").addClass("active")
{% endblock %}