{% extends "layout.html" %}

{% block fixes %}
<div class="row">
  {% block clusters %}{% endblock %}
  <div class="col-md-6">
    <div style="overflow-y: scroll; height: 1000px;">
      {% for item in clusters[cluster_id].fixes %}
         <div class="source-file table-responsive"
            data-filename='example'>
            <table class="highlight">
              <tbody>
                {% for line in item.diff_lines %}
                  <tr class="fixed-width-font highlight-{{ line.tag }}" data-line={{ line.line_after }}>
                    {% if line.is_diff %}
                      {{ line_number(line.line_before) }}
                    {% endif %}
                    {{ line_number(line.line_after) }}
                    <td>
                      <span class="highlight-source">{{ line.contents | escape}}</span>
                    </td>
                  </tr>
                  {% if line.comments %}
                    <tr data-line={{ line.line_after }}>
                      <td class="comment-container" colspan=3>
                        {% for comment in line.comments %}
                          {{ render_comment(comment) }}
                        {% endfor %}
                      </td>
                    </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
            <div class='dynamic-info'>
              {# variable_diff is a dic that has the test case as key.
                   The test case is defined as 'print function(parameters)'
                   We can get the test case from the item['tests'] property
                   TODO: rename the key to remove the print part so that it keeps the 
                   same name pattern of the test in the property 'tests' from item    
                #}
                {% set key = 'print ' + item.tests[0]['input'] | trim %}
              <table class="table"> 
                <tr><td colspan="3">{{key}}</td></tr>
                <tr><td>Variable</td><td>Incorrect code</td><td>Fixed code</td></tr>             
              {% for variable_diff in item.dynamic_diff %}    
                {% if key in item.dynamic_diff[variable_diff]%}  
                <tr>
                  <td>{{variable_diff}}</td>
                  <td>{{item.dynamic_diff[variable_diff][key][1]}}</td>
                  <td>{{item.dynamic_diff[variable_diff][key][0]}}</td>                
                </tr>
                {% endif %}
              {% endfor %}
              </table>
            </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="col-md-3">
    <h3>Instructions for Students</h3>
    <div>{{question_instructions|safe}}</div>
    <h3>Hints</h3>
    <form action="{{ url_for('add_hint') }}" method=post>
      <dl>
        <!-- <dt>hint: -->
        <dd><textarea name=text rows=3 cols=40></textarea>
        <input type="hidden" name=cluster_id value={{cluster_id}}>
        <input type="hidden" name=question_number value={{question_number}}>
        <dd><input type=submit value=Add disabled>
      </dl>
    </form>
  </div>
</div>
{% endblock %}